USE [master]
GO
/****** Object:  Database [QLVT]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE DATABASE [QLVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLVt.mdf' , SIZE = 30720KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLVt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLVt_log.ldf' , SIZE = 22144KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_FF1CAAACCCDF40E89AED1F20ABA9BD75]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE ROLE [MSmerge_FF1CAAACCCDF40E89AED1F20ABA9BD75]
GO
/****** Object:  DatabaseRole [MSmerge_A14507CD673D4F849477F130351A57DE]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE ROLE [MSmerge_A14507CD673D4F849477F130351A57DE]
GO
/****** Object:  DatabaseRole [MSmerge_23691D353B2A4356948D776579BE24E3]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE ROLE [MSmerge_23691D353B2A4356948D776579BE24E3]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_FF1CAAACCCDF40E89AED1F20ABA9BD75]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_A14507CD673D4F849477F130351A57DE]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_23691D353B2A4356948D776579BE24E3]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branch](
	[branchId] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_0D7EA0259FE545CA883832D2B1A6E170]  DEFAULT (newsequentialid()),
PRIMARY KEY CLUSTERED 
(
	[branchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](50) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[phone] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[note] [text] NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_2914580E3A4C45368AAEA555F44E66FD]  DEFAULT (newsequentialid()),
PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExportReceipt]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExportReceipt](
	[exportId] [varchar](50) NOT NULL,
	[orderId] [varchar](max) NOT NULL,
	[userId] [varchar](255) NOT NULL,
	[warehouseId] [int] NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_0262216011E74922BFAF7BBAEC2D3E87]  DEFAULT (newsequentialid()),
PRIMARY KEY CLUSTERED 
(
	[exportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExportReceiptDetail]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExportReceiptDetail](
	[exportId] [varchar](50) NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [decimal](15, 3) NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_62618945BEA84942871FE2FFC899D9E0]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ExportReceiptDetail] PRIMARY KEY CLUSTERED 
(
	[exportId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImportReceipt]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImportReceipt](
	[importId] [varchar](50) NOT NULL,
	[orderId] [varchar](max) NOT NULL,
	[userId] [varchar](255) NOT NULL,
	[warehouseId] [int] NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_41E8A1BB257E4A8B9BE67745469213B7]  DEFAULT (newsequentialid()),
PRIMARY KEY CLUSTERED 
(
	[importId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImportReceiptDetail]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImportReceiptDetail](
	[importId] [varchar](50) NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [decimal](15, 3) NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_4096A852FC7D4926BD545B138787C3D3]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ImportReceiptDetail] PRIMARY KEY CLUSTERED 
(
	[importId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [varchar](50) NOT NULL,
	[type] [varchar](255) NOT NULL DEFAULT ('Import'),
	[status] [varchar](255) NOT NULL DEFAULT ('Init'),
	[userId] [varchar](255) NOT NULL,
	[sourceWarehouseId] [int] NULL,
	[destinationWarehouseId] [int] NULL,
	[customerId] [int] NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_DEE891ED2C49442FBC531BFC3B312749]  DEFAULT (newsequentialid()),
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderId] [varchar](50) NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [decimal](15, 3) NOT NULL,
	[price] [decimal](15, 3) NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D1730CA055BA46DEB15E16EB68BE8584]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](50) NOT NULL,
	[unit] [varchar](50) NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B6125BA778344A65B3555A8EC125040B]  DEFAULT (newsequentialid()),
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Setting](
	[settingId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[section] [varchar](255) NOT NULL,
	[key] [text] NOT NULL,
	[value] [varchar](255) NOT NULL,
	[isHidden] [tinyint] NOT NULL,
	[createdTime] [datetime2](7) NOT NULL,
	[updatedTime] [datetime2](7) NOT NULL,
	[createdBy] [varchar](255) NOT NULL,
	[updatedBy] [varchar](255) NOT NULL,
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[settingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[userId] [varchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[phone] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[dob] [date] NOT NULL,
	[role] [int] NOT NULL CONSTRAINT [DF__User__role__1ED998B2]  DEFAULT ((3)),
	[branchId] [varchar](50) NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_47AB1EF4A54544A180BF0C2B99DAFF10]  DEFAULT (newsequentialid()),
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 5/18/2025 11:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Warehouse](
	[warehouseId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [varchar](50) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[branchId] [varchar](50) NOT NULL,
	[createdTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[updatedTime] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[createdBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[updatedBy] [varchar](255) NOT NULL DEFAULT ('0'),
	[deletedTime] [datetime2](7) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_25FC26DAA03E43EBB6F4F9AA04770939]  DEFAULT (newsequentialid()),
PRIMARY KEY CLUSTERED 
(
	[warehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [MSmerge_index_1477580302]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1477580302] ON [dbo].[Branch]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1381579960]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1381579960] ON [dbo].[Customer]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1285579618]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1285579618] ON [dbo].[ExportReceipt]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[ExportReceiptDetail]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1077578877]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1077578877] ON [dbo].[ImportReceipt]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1173579219]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1173579219] ON [dbo].[ImportReceiptDetail]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_821577965]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_821577965] ON [dbo].[Order]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_949578421]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_949578421] ON [dbo].[OrderDetail]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_709577566]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_709577566] ON [dbo].[Product]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_597577167]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_597577167] ON [dbo].[Setting]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_469576711]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_469576711] ON [dbo].[User]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_357576312]    Script Date: 5/18/2025 11:09:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_357576312] ON [dbo].[Warehouse]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT ((0)) FOR [isHidden]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT (sysutcdatetime()) FOR [createdTime]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT (sysutcdatetime()) FOR [updatedTime]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT ('0') FOR [createdBy]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT ('0') FOR [updatedBy]
GO
ALTER TABLE [dbo].[Setting] ADD  CONSTRAINT [MSmerge_df_rowguid_5C5445EC628B4386915A66EAC69AE9AE]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Customer]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_00DDF08A_4B25_4DA0_8027_A3CAC9D4EF12] CHECK NOT FOR REPLICATION (([customerId]>(4) AND [customerId]<=(1004) OR [customerId]>(1004) AND [customerId]<=(2004)))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [repl_identity_range_00DDF08A_4B25_4DA0_8027_A3CAC9D4EF12]
GO
ALTER TABLE [dbo].[ExportReceiptDetail]  WITH CHECK ADD CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[ImportReceiptDetail]  WITH CHECK ADD CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_45571B9A_6027_4CC0_B450_A08FAE02A01F] CHECK NOT FOR REPLICATION (([productId]>(5) AND [productId]<=(1005) OR [productId]>(1005) AND [productId]<=(2005)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [repl_identity_range_45571B9A_6027_4CC0_B450_A08FAE02A01F]
GO
ALTER TABLE [dbo].[Setting]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_76B48F78_9585_4364_AF5A_FD24FF2D3A14] CHECK NOT FOR REPLICATION (([settingId]>=(1) AND [settingId]<=(1001) OR [settingId]>(1001) AND [settingId]<=(2001)))
GO
ALTER TABLE [dbo].[Setting] CHECK CONSTRAINT [repl_identity_range_76B48F78_9585_4364_AF5A_FD24FF2D3A14]
GO
ALTER TABLE [dbo].[Warehouse]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_AEAB761C_46E7_41D6_B4D4_45DF8CE92C3A] CHECK NOT FOR REPLICATION (([warehouseId]>(4) AND [warehouseId]<=(1004) OR [warehouseId]>(1004) AND [warehouseId]<=(2004)))
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [repl_identity_range_AEAB761C_46E7_41D6_B4D4_45DF8CE92C3A]
GO
USE [master]
GO
